<div *ngIf="!isRemoved" id="cubeContainer" class="cube-container" [class.hidden]="isHidden" (click)="close()">
    <div class="cube">
      <div class="cube-section cube-front"><img src="/dabubble.png" alt=""></div>
      <div class="cube-section cube-back"><img src="/dabubble.png" alt=""></div>
      <div class="cube-section cube-left"><img src="/join.png" alt=""></div>
      <div class="cube-section cube-right"><img src="/join.png" alt=""></div>
      <div class="cube-section cube-top"><img src="/medieval-hunt.png" alt=""></div>
      <div class="cube-section cube-bottom"><img src="/medieval-hunt.png" alt=""></div>
    </div>
  </div>
  