<section id="about_me" class="pos-rel">
  <img
    class="bg-purple-blur bg-filter"
    src="backgrounds/purple-shadow-about-me.png"
    alt=""
  />
  <div>
    <h1>{{ "about_me" | translate }}</h1>
    <p>
      {{ "intro-line1" | translate }}<br />
      {{ "intro-line2" | translate }}<br />
      {{ "intro-line3" | translate }}<br />
      {{ "intro-line4" | translate }}
    </p>
    <div class="details-section">
      <span>
        <img src="others/location-green.png" alt="" />
        <p>
          {{ "location-line1" | translate }}<br />
          {{ "location-line2" | translate }}<br />
          {{ "location-line3" | translate }}
        </p>
      </span>
      <span>
        <img src="others/bulb-green.png" alt="" />
        <p>
          {{ "bulb-line1" | translate }}<br />
          {{ "bulb-line2" | translate }}<br />
          {{ "bulb-line3" | translate }}
        </p>
      </span>
      <span>
        <img src="others/puzzle-green.png" alt="" />
        <p>
          {{ "puzzle-line1" | translate }}<br />
          {{ "puzzle-line2" | translate }}<br />
          {{ "puzzle-line3" | translate }}<br />
          {{ "puzzle-line4" | translate }}<br />
          {{ "puzzle-line5" | translate }}<br />
          {{ "puzzle-line6" | translate }}
        </p>
      </span>
    </div>
  </div>
  <div class="portrait-section pos-rel">
    <div class="border-portrait">
      <img src="portrait-light-large.png" alt="" />
    </div>
    <div class="green-bar"></div>
  </div>
</section>
