<section id="about_me" class="pos-rel">
    <img class="bg-purple-blur bg-filter" src="backgrounds/purple-shadow-about-me.png" alt="">
  <div>
    <h1>About me</h1>
    <p>
      Hi, I’m a german speaking Frontend Developer based near <br />
      Mönchengladbach. Motivated by the limitless opportunities<br />
      within IT, I am excited about crafting visually captivating<br />
      and intuitive websites and applications.
    </p>
    <div class="details-section">
      <span>
        <img src="others/location-green.png" alt="" />
        <p>
          Flexible in terms of working environments, I can<br />
          work effectively both on-site in<br />
          Mönchengladbach and remotely.
        </p>
      </span>
      <span>
        <img src="others/bulb-green.png" alt="" />
        <p>
          I am open-minded and always looking for<br />
          personal challenges to constantly improve<br />
          my knowledge and skills.
        </p>
      </span>
      <span>
        <img src="others/puzzle-green.png" alt="" />
        <p>
          In my profession, programming isn't just about<br />
          writing code; it's a creative form of<br />
          problem-solving. I take pride in my ability to<br />
          distill complex technical challenges into simple,<br />
          user-friendly solutions. This way, I help you<br />
          achieve your goals and bring your visions to life.
        </p>
      </span>
    </div>
  </div>
  <div class="portrait-section pos-rel">
    <div class="border-portrait">
      <img src="portrait.png" alt="" />
      
    </div>
    <div class="green-bar"></div>
  </div>
</section>
