<section id="about_me" class="pos-rel">
  <img
    class="bg-purple-blur bg-filter"
    src="backgrounds/purple-shadow-about-me.png"
    alt=""
  />
  <div class="info">
    <h1>{{ "about_me" | translate }}</h1>
    <p>
      {{ "intro_line1" | translate }}
      {{ "intro_line2" | translate }}
      {{ "intro_line3" | translate }}
      {{ "intro_line4" | translate }}
    </p>
    <div class="details-section">
      <span>
        <img src="others/location-green.png" alt="" />
        <p>
          {{ "location_line1" | translate }}
          {{ "location_line2" | translate }}
          {{ "location_line3" | translate }}
        </p>
      </span>
      <span>
        <img src="others/bulb-green.png" alt="" />
        <p>
          {{ "bulb_line1" | translate }}
          {{ "bulb_line2" | translate }}
          {{ "bulb_line3" | translate }}
        </p>
      </span>
      <span>
        <img src="others/puzzle-green.png" alt="" />
        <p>
          {{ "puzzle_line1" | translate }}
          {{ "puzzle_line2" | translate }}
          {{ "puzzle_line3" | translate }}
          {{ "puzzle_line4" | translate }}
          {{ "puzzle_line5" | translate }}
          {{ "puzzle_line6" | translate }}
        </p>
      </span>
    </div>
  </div>
  <div class="portrait-section pos-rel">
    <div class="border-portrait">
      <img src="portrait-light-large.png" alt="" />
    </div>
    <div class="green-bar"></div>
  </div>
</section>
