<section class="atf">
  <div class="portrait-container pos-rel">
    <img class="portrait" src="portrait-dark-large.png" alt="" />
    <img class="portrait-bg" src="backgrounds/photo-shadows.png" alt="" />
  </div>
  <div class="info-container pos-rel">
    <div class="headline-order">
      <div>
        <span>I am</span>
        <div class="headline">
          <h1>Lars Schumacher</h1>
          <h2>FRONTEND DEVELOPER</h2>
        </div>
      </div>
      <a class="lets-talk" href="#contact">Let's talk!</a>
    </div>
    <div class="bottom-order">
      <div class="social-links">
        <div class="purple-bar"></div>
        <a
          class="social-icon"
          href="https://github.com/LarsMadproduction"
          target="_blank"
          ><img src="icons/git-hub-btn.png" alt=""
        /></a>
        <a class="social-icon" href="mailto:schumacher90lars@gmail.com"
          ><img src="icons/email-btn.png" alt=""
        /></a>
        <a
          class="social-icon"
          href="https://www.linkedin.com/in/lars-schumacher-680948276/"
          target="_blank"
          ><img src="icons/linkedin-btn.png" alt=""
        /></a>
        <a class="email" href="mailto:schumacher90lars@gmail.com"
          >schumacher90lars&#64;gmail.com</a
        >
      </div>
      <div class="scroll-sign">
        <span>Scroll down</span
        ><img src="navigation/arrow-down-line.png" alt="" />
      </div>
    </div>
  </div>
</section>
