<section>
  <div class="atf">
    <div class="portrait-container">
      <img class="portrait" src="portrait.png" alt="" />
      <img class="portrait-bg" src="backgrounds/photo-shadows.png" alt="" />
    </div>
    <div>
      <span>I am</span>
      <div class="headline">
        <h1>Lars Schumacher</h1>
        <h2>FRONTEND DEVELOPER</h2>
        <button>Let´s talk!</button>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div></div>
      <a href="#"><img src="icons/git-hub-btn.png" alt="" /></a>
      <a href="#"><img src="icons/email-btn.png" alt="" /></a>
      <a href="#"><img src="icons/linkedin-btn.png" alt="" /></a>
      <span>schumacher90lars&#64;gmail.com</span>
    </div>
    <div>
      <span>Scroll down</span
      ><img src="navigation/arrow-down-line.png" alt="" />
    </div>
  </div>
</section>
<img class="bg" src="backgrounds/hero-background.png" alt="" />
