.bg-color{
  background-color: #141d2f;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 110px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

section {
  max-width: 1920px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding-inline: 100px;
  background-color: #141d2f;
  position: fixed;
  top: 0;
  z-index: 1000;
  div {
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 24px;
    a {
      position: relative;
      margin-top: 8px;
      &.active {
        color: #70e61c;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 56px;
          height: 2px;
          background-color: #9747ff;
          border-radius: 2px;
        }
      }
      &:hover {
        color: #70e61c;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 56px;
          height: 2px;
          background-color: #9747ff;
          border-radius: 2px;
        }
      }
    }
  }
}

.language-switch {
  width: 64px !important;
}

.language-switch button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.language-switch button.active {
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  section {
    padding-inline: 16px;
  }
  .language-switch {
    margin-left: 32px;
  }
}

@media (min-width: 769px) {
  app-mobile-nav {
    display: none;
  }
}

@media (min-width: 1921px) {
  section {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding-inline: 100px;
    background-color: #141d2f;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
}
