<section>
  <a href="#"><img src="portfolio-logo.png" alt="" /></a>
  <div *ngIf="!isLegalNoticeRoute">
    <a
      class="desktop-nav"
      href="#about_me"
      [class.active]="activeSection === 'about_me'"
      >About me</a
    >
    <a
      class="desktop-nav"
      href="#my_skills"
      [class.active]="activeSection === 'my_skills'"
      >Skills</a
    >
    <a
      class="desktop-nav"
      href="#portfolio"
      [class.active]="
        activeSection === 'portfolio' || activeSection === 'portfolio_content'
      "
      >Portfolio</a
    >
  </div>
  <app-mobile-nav></app-mobile-nav>
</section>
