section {
  max-width: 1920px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding-inline: 60px;
  background-color: #141d2f;
  position: fixed;
  top: 0;
  div {
    display: flex;
    justify-content: space-between;
    width: 326px;
    font-size: 24px;
  }
}
