<div class="privacy-policy">
  <section>
    <h1>{{ "privacy_policy_h1" | translate }}</h1>
    <br />
    {{ "privacy_policy_h1_text1" | translate }}
    <br />
    <br />
    {{ "privacy_policy_h1_text2" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_1" | translate }}</h2>
    Lars Schumacher <br />
    Genhahner Hött 21 <br />
    41189 Mönchengladbach <br />
    <br />
    {{ "privacy_policy_email" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_2" | translate }}</h2>
    {{ "privacy_policy_h2_2_text1" | translate }}
    <br />
    {{ "privacy_policy_h2_2_text2" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_3" | translate }}</h2>
    {{ "privacy_policy_h2_3_text1" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_4" | translate }}</h2>
    {{ "privacy_policy_h2_4_text1" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_5" | translate }}</h2>
    {{ "privacy_policy_h2_5_text1" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_6" | translate }}</h2>
    {{ "privacy_policy_h2_6_text1" | translate }}
    <br /><br />
    <h2>{{ "privacy_policy_h2_7" | translate }}</h2>
    {{ "privacy_policy_h2_7_text1" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_8" | translate }}</h2>
    {{ "privacy_policy_h2_8_text1" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_9" | translate }}</h2>
    {{ "privacy_policy_h2_9_text1" | translate }}
    <br />
    <br />
    {{ "privacy_policy_h2_9_text2" | translate }}
    <br />
    <br />
    {{ "privacy_policy_h2_9_text3" | translate }}
    <br /><br />
    {{ "privacy_policy_h2_9_text4" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_10" | translate }}</h2>
    {{ "privacy_policy_h2_10_text1" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_11" | translate }}</h2>
    {{ "privacy_policy_h2_11_text1" | translate }}
    <br />
    <br />
    {{ "privacy_policy_h2_11_text2" | translate }}
    <br />
    <br />
    {{ "privacy_policy_h2_11_text3" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_12" | translate }}</h2>
    {{ "privacy_policy_h2_12_text1" | translate }}
    <br />
    <br />
    {{ "privacy_policy_h2_12_text2" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_13" | translate }}</h2>
    {{ "privacy_policy_h2_13_text1" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_14" | translate }}</h2>
    {{ "privacy_policy_h2_14_text1" | translate }}
    <br />
    <br />
    <h2>{{ "privacy_policy_h2_15" | translate }}</h2>
    {{ "privacy_policy_h2_15_text1" | translate }}
    <br />
    <br />
    {{ "privacy_policy_h2_15_text2" | translate }}
    <br />
    <br />
    {{ "privacy_policy_last_update" | translate }}<br />
  </section>
</div>
