<section class="pos-rel">
    <img class="bg-purple-blur bg-filter" src="backgrounds/purple-shadow-footer.png" alt="">
  <div class="headline">
    <div class="purple-bar"></div>
    <h1>Contact</h1>
  </div>
  <div class="contact-content">
    <div>
      <h2>Got a problem to solve?</h2>
      <p>
        Contact me through this form, I am interested in hearing <br />
        from you, knowing your ideas and contributing to your <br />
        projects with my work. <br /><br />
        Need a Frontend developer? <b>Contact me!</b>
      </p>
    </div>
  </div>
</section>
