section {
  padding-block: 110px;
  width: 100vw;
  max-width: 1920px;
  padding-inline: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: clip;
}

.bg-purple-blur {
  position: absolute;
  bottom: -400px;
  left: -500px;
  z-index: -10;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple-bar {
  position: absolute;
  left: 0px;
  border-top: 4px solid #9747ff;
  width: 500px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-block: 40px;
}

app-contact-from {
  max-width: 617px;
  width: 100%;
}

h2 {
  font-size: 32px;
  padding-bottom: 32px;
}

.back-to-top {
  position: absolute;
  bottom: 100px;
  right: 100px;
  content: url(./../../../public/navigation/white-arrow.png);

  &:hover {
    content: url(./../../../public/navigation/green-arrow.png);
  }
}

.text-align{
  max-width: 520px;
}

@media (max-width: 1360px) {
  .purple-bar {
    width: 300px;
  }
  app-contact-from {
    max-width: 400px;
  }
}

@media (max-width: 1100px) {
  .purple-bar {
    width: 250px;
  }
  app-contact-from {
    max-width: 600px;
  }
  .contact-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    padding-block: 40px;
  }
}

@media (max-width: 768px) {
  section {
    padding-inline: 16px;
  }
  .purple-bar {
    width: 100px;
  }
  .back-to-top {
    bottom: 50px;
    right: 16px;
  }
  h2 {
    font-size: 24px;
  }
  .text-align{
    text-align: center;
  }
}

@media (max-width: 400px) {
  .purple-bar {
    width: 50px;
  }
}

@media (min-width: 1921px) {
  section {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    background-color: #141d2f;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-block: 110px;
    overflow-x: unset;
    overflow-y: clip;
  }
  .bg-purple-blur {
    left: calc(0px - max(0px, (100vw - 1920px) / 2));
  }
}