<section id="contact" class="pos-rel">
  <img
    class="bg-purple-blur bg-filter"
    src="backgrounds/purple-shadow-footer.png"
    alt=""
  />
  <div class="headline">
    <div class="purple-bar"></div>
    <h1>{{ "contact" | translate }}</h1>
  </div>
  <div class="contact-content">
    <div class="text-align">
      <h2>{{ "contact_h2" | translate }}</h2>
      <p>
        {{ "contact_me_line1" | translate }} <br />
        {{ "contact_me_line2" | translate }} <br />
        {{ "contact_me_line3" | translate }} <br /><br />
        {{ "contact_me_line4" | translate }} <b>{{ "contact_me" | translate }}</b>
      </p>
    </div>
    <app-contact-from></app-contact-from>
  </div>
  <a href="#"
    ><img class="back-to-top" src="navigation/white-arrow.png" alt=""
  /></a>
</section>
