section {
  width: 100vw;
  max-width: 1920px;
  padding-top: 110px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headline {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.purple-bar-left {
  border-top: 4px solid #9747ff;
  width: 100px;
}

.purple-bar-right {
  border-top: 4px solid #9747ff;
  width: 507px;
}

.portfolio-content {
  position: relative;
  z-index: 1;
  width: 100vw;
  max-width: 1920px;
  padding-top: 32px;
  padding-inline: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 32px;
  overflow-x: clip;
}

.bg-purple-blur {
  position: absolute;
  top: center;
  left: -350px;
}
.bg-green-blur {
  position: absolute;
  top: center;
  right: -350px;
}

@media (max-width: 904px) {
  section {
    justify-content: center;
  }
  .purple-bar-right {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .portfolio-content {
    padding-inline: 16px;
  }
}

@media (max-width: 425px) {
  .purple-bar-left {
    width: 50px;
  }
  .purple-bar-right {
    width: 50px;
  }
}

@media (min-width: 1921px) {
  section {
    max-width: 1920px;
    width: 100%;
    position: relative;
    background-color: #141d2f;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-block: 110px;
    overflow: unset;
  }
  .portfolio-content {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    background-color: #141d2f;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-block: 110px;
    overflow: unset;
  }
  .bg-green-blur {
    right: calc(0px - max(0px, (100vw - 1920px) / 2));
  }
  .bg-purple-blur {
    left: calc(0px - max(0px, (100vw - 1920px) / 2));
  }
}
