<section id="portfolio">
  <div class="headline">
    <div class="purple-bar-left"></div>
    <h1>Portfolio</h1>
    <div class="purple-bar-right"></div>
  </div>
</section>
<section class="portfolio-content">
  <img class="bg-purple-blur" src="backgrounds/purple-shadow-portfolio.png" alt="">
  <img class="bg-green-blur" src="backgrounds/green-shadow.png" alt="">

  <p>
    Explore a selection of my work here - Interact with projects to see my
    skills in action.
  </p>
  <app-portfolio-single-list></app-portfolio-single-list>

</section>
