<section id="portfolio">
  <div class="headline">
    <div class="purple-bar-left"></div>
    <h1>Portfolio</h1>
    <div class="purple-bar-right"></div>
  </div>
</section>
<section class="portfolio-content">
  <img class="bg-purple-blur bg-filter" src="backgrounds/purple-shadow-portfolio.png" alt="">
  <img class="bg-green-blur bg-filter" src="backgrounds/green-shadow.png" alt="">

  <p>
   {{ "portfolio_explore" | translate }}
  </p>
  <app-portfolio-single-list></app-portfolio-single-list>

</section>
