<div class="container">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="space">
      <div
        class="input-wrapper"
        [ngClass]="{ valid: name.valid, invalid: !name.valid && name.touched }"
      >
        <input
          #name="ngModel"
          [ngClass]="{
            'error-border': !name.valid && name.touched,
            'valid-border': name.valid && name.touched
          }"
          [(ngModel)]="contactData.name"
          type="text"
          autocomplete="off"
          name="name"
          [placeholder]="'contact_form_name' | translate"
          required
        />
      </div>
      <span class="invalid" *ngIf="!name.valid && name.touched">{{
        "contact_form_name_required" | translate
      }}</span>
    </div>
    <div class="space">
      <div
        class="input-wrapper"
        [ngClass]="{
          valid: email.valid,
          invalid: !email.valid && email.touched
        }"
      >
        <input
          #email="ngModel"
          [ngClass]="{
            'error-border': !email.valid && email.touched,
            'valid-border': email.valid && email.touched
          }"
          [(ngModel)]="contactData.email"
          type="email"
          autocomplete="off"
          name="email"
          [placeholder]="'contact_form_email' | translate"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        />
      </div>
      <span class="invalid" *ngIf="!email.valid && email.touched">{{
        "contact_form_email_required" | translate
      }}</span>
    </div>
    <div class="space">
      <div
        class="input-wrapper"
        [ngClass]="{
          valid: message.valid,
          invalid: !message.valid && message.touched
        }"
      >
        <textarea
          #message="ngModel"
          [ngClass]="{
            'error-border': !message.valid && message.touched,
            'valid-border': message.valid && message.touched
          }"
          [(ngModel)]="contactData.message"
          autocomplete="off"
          name="subject"
          [placeholder]="'contact_form_message' | translate"
          style="height: 200px"
          required
        ></textarea>
      </div>
      <span class="invalid" *ngIf="!message.valid && message.touched">{{
        "contact_form_message_required" | translate
      }}</span>
    </div>
    <div class="checkbox space" (click)="toggleCheckbox()">
      <img
        [src]="
          contactData.checkbox
            ? 'others/check-mark-box.png'
            : 'others/check-box.png'
        "
        alt=""
        required
      />
      <span class="check-policy">
        {{ "privacy_policy_before" | translate }}
        <a href="/privacy-policy"
          ><b class="highlight"> {{ "privacy_policy" | translate }}</b></a
        >
        {{ "privacy_policy_after" | translate }}</span
      >
    </div>
    <span class="invalid" *ngIf="!contactData.checkbox && checkboxTouched"
      >{{ "privacy_policy_required" | translate }}</span
    >

    <div class="submit-container">
      <input
        class="submit-btn"
        type="submit"
        [value]="'submit_btn' | translate"
        [disabled]="!contactForm.valid || !contactData.checkbox"
      />
    </div>
  </form>
</div>
<section *ngIf="messageSent">
  <span>{{ "message_response" | translate }}</span>
</section>
