<div class="mobile-menu-icon" (click)="toggleMobileNav()"  *ngIf="!isLegalNoticeRoute && !isPrivacyPolicyRoute">
  <img
    [src]="
      isMobileNavOpen
        ? 'navigation/mobile-menu-close.png'
        : 'navigation/mobile-menu.png'
    "
    alt="Mobile Menu"
  />
</div>

<nav class="mobile-nav" [class.open]="isMobileNavOpen">
  <div class="mobile-menu-icon" (click)="toggleMobileNav()">
    <img
      [src]="
        isMobileNavOpen
          ? 'navigation/mobile-menu-close.png'
          : 'navigation/mobile-menu.png'
      "
      alt="Mobile Menu"
    />
  </div>
  <ul>
    <li><a [class.active]="activeSection === 'about_me'" href="#about_me" (click)="toggleMobileNav()">{{ 'about_me' | translate }}</a></li>
    <li><a [class.active]="activeSection === 'my_skills'" href="#my_skills" (click)="toggleMobileNav()">{{ 'skills' | translate }}</a></li>
    <li><a [class.active]="activeSection === 'portfolio' || activeSection === 'portfolio_content'" href="#portfolio" (click)="toggleMobileNav()">Portfolio</a></li>
    <li><a [class.active]="activeSection === 'contact'" href="#contact" (click)="toggleMobileNav()">{{ 'contact' | translate }}</a></li>
  </ul>
</nav>
