<section>
  <div class="legal-notice">
    <h1 class="legal-notice-h1">
      {{ "legal_notice_h1" | translate }}
    </h1>

    <span>
      <h2 class="legal-notice-h2">{{ "legal_notice_h2" | translate }}</h2>
      <br />
      <br />
      Lars Schumacher <br />
      Genhahner Hött 21 <br />
      41189 Mönchengladbach <br />
      {{ "legal_notice_location" | translate }} <br />
      <br />
      <h2 class="legal-notice-h2">{{ "legal_notice_contact_info" | translate }}</h2>
      <br />
      <br />
      {{ "legal_notice_phone" | translate }}<br />
      Email: schumacher90lars&#64;gmail.com <br />
      <br />
      <h2 class="legal-notice-h2">{{ "legal_notice_h2_info" | translate }}</h2>
      <br />
      <br />
      {{ "legal_notice_info_line1" | translate }}
      {{ "legal_notice_info_line2" | translate }}
      {{ "legal_notice_info_line3" | translate }}
      {{ "legal_notice_info_line4" | translate }}
      {{ "legal_notice_info_line5" | translate }}
      <br />
      <br />
      <h2 class="legal-notice-h2">{{ "legal_notice_h2_copyright" | translate }}</h2>
      <br />
      <br />
      {{ "legal_notice_copyright_line1" | translate }}
      {{ "legal_notice_copyright_line2" | translate }}
      {{ "legal_notice_copyright_line3" | translate }}
      {{ "legal_notice_copyright_line4" | translate }}
      <br />
    </span>
  </div>
</section>
