<section id="my_skills" class="pos-rel">
  <img
    class="bg-green-blur bg-filter"
    src="backgrounds/green-shadow-skills-portfolio.png"
    alt=""
  />
  <div class="skill-stack">
    <span
      *ngFor="let skill of skillStack"
      [ngClass]="{
        animated: animatedSkills,
        'continually-learning': skill === 'Continually-Learning'
      }"
    >
      <div class="learning"><p>
        {{ "learning" | translate }}</p></div>
      <img
        [src]="
          skill === 'Continually-Learning'
            ? 'logos/Continually-Learning.png'
            : 'logos/' + skill + '.png'
        "
        [alt]="skill"
        [ngClass]="{ 'continually-learning': skill === 'Continually-Learning' }"
      />
      {{ skill }}
    </span>
  </div>
  <div class="headline-content">
    <h1 class="pos-rel">
      {{ "my_skills" | translate }}
      <div class="purple-bar"></div>
    </h1>
    <div>
      <p>
        {{ "skills_intro_line1" | translate }}<br />
        {{ "skills_intro_line2" | translate }}
      </p>
      <h2>{{ "looking_for" | translate }}<span class="highlight"> {{ "another_skill" | translate }}</span>?</h2>
      <p>
        {{ "learn_more_line1" | translate }}<br />
        {{ "learn_more_line2" | translate }}
      </p>
      <a href="#contact">{{ "get_in_touch" | translate }}</a>
    </div>
  </div>
</section>
