<section
  id="portfolio_content"
  *ngFor="let project of projects; let i = index"
  [ngClass]="{ reverse: i % 2 === 1 }"
>
  <div>
    <img src="{{ project.image }}" style="width: 85%" alt="" />
  </div>
  <div class="description">
    <h2>{{ project.name }}</h2>
    <h3>{{ project.skills }}</h3>
    <p>
      {{ project.descriptionKey | translate }}
    </p>
    <div class="btns">
      <a class="test-btn" target="_blank" href="{{ project.linkProject }}">Live test</a>
      <a class="git-btn" target="_blank" href="{{ project.linkGit }}">Github</a>
    </div>
  </div>
</section>
