<section>
  <div class="info-container">
    <div class="headline-order">
      <div>
        <span>I am</span>
        <div class="headline">
          <h1>Lars Schumacher</h1>
          <h2>{{ "job_title" | translate }}</h2>
        </div>
      </div>
      <a class="lets-talk" href="#contact">{{ "lets_talk" | translate }}</a>
    </div>
    <div class="bottom-order">
      <div class="social-links">
        <div class="purple-bar"></div>
        <a
          class="social-icon"
          href="https://github.com/LarsMadproduction"
          target="_blank"
          ><img src="logos/git-hub-btn.png" alt=""
        /></a>
        <a class="social-icon" href="mailto:schumacher90lars@gmail.com"
          ><img src="logos/email-btn.png" alt=""
        /></a>
        <a
          class="social-icon"
          href="https://www.linkedin.com/in/lars-schumacher-680948276/"
          target="_blank"
          ><img src="logos/linkedin-btn.png" alt=""
        /></a>
        <a class="email" href="mailto:schumacher90lars@gmail.com"
          >schumacher90lars&#64;gmail.com</a
        >
      </div>
      <div class="scroll-sign">
        <span>{{ "scroll_down" | translate }}</span
        ><img src="navigation/arrow-down-line.png" alt="" />
      </div>
    </div>
  </div>
</section>
