<section>
  <div class="footer-left-side">
    <a href="#"><img src="portfolio-logo.png" alt="" /></a>
    <a class="legal-notice" href="#" target="_blank">Legal Notice</a>
  </div>
  <span>© Lars Schumacher 2024</span>
  <div class="footer-right-side">
    <a href="https://github.com/LarsMadproduction" target="_blank"
      ><img src="icons/git-hub-btn.png" alt=""
    /></a>
    <a href="mailto:schumacher90lars@gmail.com"
      ><img src="icons/email-btn.png" alt=""
    /></a>
    <a
      href="https://www.linkedin.com/in/lars-schumacher-680948276/"
      target="_blank"
      ><img src="icons/linkedin-btn.png" alt=""
    /></a>
  </div>
</section>
