section {
  max-width: 1920px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 290px;
  padding-inline: 100px;
  background-color: #141d2f;
  span {
    font-size: 24px;
  }
}

.footer-left-side {
  display: flex;
  flex-direction: column;
  img {
    margin-top: 16px;
  }
  a {
    margin-top: 8px;
  }
}

.footer-right-side {
  display: flex;
  justify-content: space-between;
  width: 174px;
  a {
    img {
      height: 30px;
      width: 30px;
    }
  }
}

@media (max-width: 870px) {
  section {
    flex-direction: column;
    padding-inline: 0px;
    padding-block: 50px;
    height: 350px;
  }
  .footer-left-side {
    align-items: center;
  }
}
